* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

h1,
p {
  padding: 0;
  margin: 0;
}
a {
  color: #fff;
  margin-top: 1rem;
}
a:hover {
  color: black;
}
/* Header  */
header {
  display: flex;
  padding: 1rem 2rem;
  position: fixed;
  width: 100vw;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #f0a83e;
  flex-wrap: wrap;
}
header #logo {
  display: flex;
  color: #000;
}
header #logo span {
  color: #fff;
}
nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  max-height: 0;
  display: flex;
  justify-content: center;
  background-color: #f0a83e;
  transition: max-height 0.5s ease-out;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
.menu a {
  display: block;
  padding: 0 30px;
}

.contenedor-menu {
  cursor: pointer;
  float: right;
  z-index: 998;
}

.contenedor-menu .side-menu_span {
  display: block;
  position: relative;
}

.side-menu {
  display: none;
}
.side-menu:checked ~ nav {
  max-height: 100%;
}
/* Main */
main {
}
.primera-seccion {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.primer-seccion-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.primera-seccion__titulo {
  background-color: #fff;
  border: 7px;
  font-size: 2rem;
}

.primera-seccion__descripcion {
  margin: 0.5rem 0;
}
.primera-seccion label {
  display: flex;
  width: 10rem;
  justify-content: center;
  align-items: center;
}
#primera-seccion__boton {
  background-color: #f0a83e;
  border: none;
  color: #fff;
  padding: 1rem;
  border-radius: 7px;
}
.segunda-seccion {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.segunda-seccion h3 {
  font-size: 3rem;
  color: #3c2313;
}
.segunda-seccion_listas {
  display: flex;
  flex-wrap: wrap;
}
.segunda-seccion_lista {
  margin: 2rem 1rem;
}
/* .segunda-seccion_lista:nth-child(n+2)::before{
    content: "-";
    margin-right: 1rem;
} */
.segunda-seccion_tercer-articulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.segunda-seccion_tercer-articulo input {
  background-color: #3c2313;
  border-radius: 0.7rem;
  width: 20rem;
  height: 40px;
  margin-bottom: 0.5rem;
  padding-left: 10px;
  border: none;
  color: #fff;
}
.contenedor-botones button {
  padding: 1rem 0;
  border-radius: 100px;
  width: 10rem;
  color: #fff;
  border: none;
}
.contenedor-botones button:hover {
  filter: invert();
}
.contenedor-botones #boton_enviar {
  background-color: #f0a83e;
}

.contenedor-botones #boton_resetear {
  background-color: #8a8787;
}
.contenedor-carta {
  margin-bottom: 2rem;
  background-color: #fbfaf6;
}
.aside {
  background-color: #f0a83e;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}
.aside .left {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.aside .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
}
.aside .left h3 {
  margin: 0 25px;
}
.aside .right input {
  margin: 0 5px;
}
.aside .right .input-correo {
  height: 2rem;
  width: 60vw;
  border: thin solid #fff;
  border-radius: 0.6rem;
  padding-left: 1rem;
}
.aside .right .btn-suscribirme {
  background-color: #3c2313;
  color: white;
  height: 2rem;
  padding: 0 0.3rem;
  border: none;
  border-radius: 0.6rem;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3c2313;
}
footer .caja_arriba{
    display: flex;
    flex-direction: column;
}
footer #logo {
  display: flex;
  justify-content: center;
  color: #fff;
}
footer #logo span {
  color: #f0a83e;
}
footer div {
  margin: 0.3rem 0;
}
footer div h3 {
  color: #fff;
}
footer .footer_localidad {
  display: flex;
  align-items: center;
}

footer .footer_localidad-right {
  margin-left: 1rem;
}

footer .footer_localidad p {
  color: #8a8787;
}
footer .derechos_reservados {
  background-color: #000;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    max-height: none;
    top: 0;
    padding: 0;
    position: relative;
    float: right;
    width: fit-content;
    height: auto;
  }
  .menu {
    display: flex;
    height: 100%;
    flex-direction: row;
  }
  a {
    margin: 0;
  }
  .menu li {
    float: left;
  }
  .contenedor-menu {
    display: none;
  }
  .primera-seccion {
    align-items: flex-end;
  }
  .primer-seccion-contenedor {
    align-items: center;
  }
  footer .caja_arriba{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
  }
}
@media (max-width: 330px) {
  .segunda-seccion_tercer-articulo input {
    width: 90vw;
  }
  .segunda-seccion h3 {
    font-size: 2rem;
  }
  .contenedor-carta img {
    width: 80%;
  }
}
